#grilla {
    display: grid;
    grid-template-areas:
      "header header"
      "productos productos"
      "precios publicidad"
      "sucursal publicidad"
      "footer footer";
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px min max(200px,auto) 300px min max(400px, auto) 200px min max(300px, auto) 150px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    max-width: 2000px;
    width: 100%;
    margin: auto;
    background-color: rgba(172, 207, 158, 0.221);  
 }
 .border {
    border: 1px solid black;
 }
 section#productos {
    grid-area: productos; 
}    
.productos {
    justify-content: start; 
}
 section#precios {
     grid-area: precios;
 }
 section#sucursal {
    grid-area: sucursal;     
 }
 aside {
    grid-area: publicidad;
 }
 footer {
    grid-area: footer;
    background-color: rgba(247, 138, 138, 0.822);
 }  
footer {
    font-size: 20px;
}
header {
    grid-area: header;
    background-size: 80%;
    font-size: 30px;
    transition: transform 0.3s;
 }
 header:hover {
    transform: transition;
    background-image: url(https://images.aws.nestle.recipes/original/e89d19d331ac413811e3b1c11a893991_torta-princesa.jpg);
 }
 #titulo h1 {
    color: rgb(244, 118, 118);
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s;
}
#titulo h1:hover {
    transform: translate(100px, 10px);
}
#productos h2 {
    color: rgba(209, 81, 81, 0.558);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}
#productos:hover {
    transform: translate(5px, 5px);
} 
#tortas {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}   
#tortas:hover {
    transform: rotate(2deg);
}

#tartas {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

#tartas:hover {
    transform: rotate(2deg);
}
#budines {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

#budines:hover {
    transform: rotate(2deg);
}

#chocolates {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

#chocolates:hover {
    transform: rotate(2deg);
}
#precios h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#precios:hover {
    transform: translate(5px, 5px);
}

#sucursales h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#sucursales:hover {
    transform: translate(5px, 5px);
}
#sucursal h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#sucursal:hover {
    transform: translate(5px, 5px);
}
#contacto h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#contacto:hover {
    transform: translate(5px, 5px);
}
#asociate h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#asociate:hover {
    transform: translate(5px, 5px);
}
#imagen1 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
    height: 90%;
    width: 90%;
}

#imagen1:hover {
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
    filter: grayscale(0);
    outline: solid 3px;
    filter: blur(0px);
}

#imagen2 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

#imagen2:hover {
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
    filter: grayscale(0);
    outline: solid 3px;
    filter: blur(0px);
}

#imagen3 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

#imagen3:hover {
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
    filter: grayscale(0);
    outline: solid 3px;
    filter: blur(0px);
}

#imagen4 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

#imagen4:hover {
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
    filter: grayscale(0);
    outline: solid 3px;
    filter: blur(0px);
}
input[type=checkbox] {
    transition: all 0.5s;
}

input[type=checkbox]:checked {
    width: 64px;
    height: 64px;
}

input {
    transition: all 0.5s;
}

input:focus {
    background-color: rgb(210, 225, 239);
}
.card {
    height: 80%;
    width: 50%;
}