[DOCTYPE CSS] 
<html>
<head>
    <meta charset="utf-8" />
    <title>tentatortas</title>

<style>
h1 { 
    color:rgb(227, 159, 10);
    font-weight: bold;
}
h2 { 
    color: rgb(148, 93, 93)
}
#Origen {
    background-color: rgba(218, 247, 218, 0.795);
    color: rgb(93, 120, 83);
}
#Contacto {
    background-color: rgba(218, 247, 218, 0.795);
    color: rgb(93, 120, 83);

}
section p span {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.letracapital { 
    color: rgb(24, 94, 49);
    font-size: 15px;
    font-weight: bold;
}
.cambiarletra { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    color: rgb(126, 167, 65);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    display: grid;
    grid-template-columns: 50px 50px;
}
div {
    border: solid 1px;
}
#celdas 
</style>
</head>
<body>
    <header> 
        <h1>Tentatortas</h1>
        <hr/>
        <h2>
        <strong>Tortas</strong>
        <strong>Tartas</strong> 
        <strong>Chocolates</strong> 
        <strong>Budines</strong> 
        </h2>
    </header>
    <nav> 
    </nav>
    <a href=""> 
        <img src="http://via.placeholder.com/100x100" alt="">
    </a>
    <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum odio impedit sed ab iste nulla, at placeat fugiat eveniet fuga voluptatem quibusdam et id, eius, quam eos enim laborum?</p>
    <!-- en el parrafo iria la historia de como se origino la empresa y la biografia de su creador-->
    </div>
    <section id="Origen">
        <h1>Origen</h1>
        <p><span class="letracapital cambiarletra">B</span>orem Ipsum</p> 
    </section>
    <section id="Contacto">
        <h1>Contacto</h1>
        <p><span class="letracapital cambiarletra">L</span>orem Ipsum</p> 

    </section>
    <a href="http://127.0.0.1:3000/Tortas.html" target="blank">Mas informacion</a>
    <footer> 
        <icons> </icons> 
    </footer>
</body><DOCTYPE CSS>
</css>